  <link rel="stylesheet" type="text/html" href="style.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Newscrape - Mongo Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <form class="form-inline">
            <button class="btn btn-outline-primary" id="scrape" type="button">Scrape Articles</button>
            <button class="btn btn-outline-primary" id="saved" type="button">Saved Articles</button>
  </form>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Saved Articles</h1>
  </div>
</div>

<ul>
    <div class="container" style="display: inline-block;">
      {{#each Article}}
      {{#if saved}}
      <div class="card border-dark shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
           <h5 class="mr-auto">
            <a class="article-link" href={{this.link}}>{{this.title}}</a>
            </h5>
            <span>
            <button class="btn btn-primary remove">
              <a name="Saved-Article" style="color: #fff" title={{this.title}} link={{this.link}} id={{this._id}}>Remove</a> 
            </button>
            </span> 
            
            
        </div>
      </div> 
      {{/if}}
      {{/each}}  
    </div>
    
</ul>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="app.js"></script>
    